select {
   width: 25%; 
   padding: 0.5em;
   margin-bottom: 10rem;
}

h5, h2 {
    padding: 2%;
    color: dodgerblue;
}

 h2 {
    text-align: center;
    padding: 2%;
}

label {
    margin-right: 1%;
    margin-left: 1%;
}